.home-wrapper {
  margin-top: 102.5px;
  background: url(/assets/img/home1.png);
  @apply w-full bg-center bg-cover bg-no-repeat;
}
.home-content {
  background-color: #00000066;
  /* @apply md:min-h-screen; */
}

.container-content {
  padding-top: 60px;
  padding-bottom: 60px;
  @apply flex flex-wrap flex-row justify-between w-full h-full container;
}

.search-label{
    @apply font-Nunito text-xl text-white font-bold mt-8
}