.navbar {
  @apply shadow-md fixed w-full bg-white top-0 z-50;
}

.navbar-container {
  @apply flex flex-wrap justify-between content-center items-center pt-9 pb-5;
}

.navbar-menu-left {
  @apply md:w-1/4;
}

.navbar-menu-right {
  @apply md:w-9/12 w-full hidden md:flex md:flex-row md:flex-wrap md:justify-end;
}

.navbar-menu {
  @apply block md:flex flex-row flex-wrap items-center;
}

.li-menu {
  @apply md:px-3 py-1 md:py-0;
}

.li-menu-a {
  font-size: 16px;
  color: #b8becd;
}

.li-menu-a:hover {
  @apply border-b-2 pb-2 border-primary;
  color: #202336;
}

.li-menu.active > .li-menu-a {
  @apply border-b-2 pb-2 border-primary;
  color: #202336;
}

.btn {
  @apply px-8 py-2 border rounded-md;
}

.btn-outline-primary {
  @apply border border-primary text-secondary;
}

.btn-outline-primary:hover {
  @apply bg-primary border-primary;
}

.btn-primary {
  @apply text-secondary bg-primary
}

.btn-secondary {
  @apply text-primary bg-secondary;
}

.btn-white {
  @apply text-secondary bg-white
}

.navbar-menu-right.show-navbar {
  @apply block md:border-0 md:mt-0 border-t mt-2;
}

@media (min-width: 768px) {
  .navbar-menu-right.show-navbar {
    @apply flex;
  }
}
